@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Special+Gothic+Expanded+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Karla', sans-serif;
}




@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.8rem; /* Un poco más pequeño para que no rompa */
    padding: 0 10px;
  }

  .hero p {
    font-size: 1rem;
    padding: 0 1.5rem;
  }

  .hero img {
    border-radius: 10px; /* Menos radio en pantallas pequeñas */
    margin: 1.5rem auto;
  }

  .foodtruck-grid, .burger-grid {
    gap: 1.5rem;
    padding: 0 0.5rem;
  }
}